@import '../../styles/vars';

.autocomplete {
  position: relative;
  margin: toRem(8);
}

.searchIcon,
.clearIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.searchIcon {
  left: toRem(8);
}

.clearIcon {
  right: toRem(8);
}

.input {
  padding: 0 toRem(30);
}

.suggestions {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: $color-blue3;
  overflow: auto;
}

.suggestionsItem {
  display: block;
  position: relative;
  padding: toRem(14) toRem(19);
  color: $color-gray;

  &:not(:first-child):before {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid $color-gray2;
    top: 0;
    left: 1rem;
    right: 0;
  }
}
