/* Project specific rules */
@import 'vars';

/* Make page content full height always */
html,
body,
div#__next,
div#__next > * {
  height: 100%;
}

html,
body {
  font-family: Yantramanav, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: $baseFontSize;
  line-height: 1;
  color: $color-white;
  background: $color-blue2;
  font-weight: lighter;
}

h1,
h2,
h3,
h4,
strong {
  font-weight: normal;
}

input,
textarea,
select {
  width: 100%;
  height: toRem(28);
  line-height: 1;
  padding: 0 toRem(8);
  background: $color-blue3;
  color: $color-white;
  border: 1px solid $color-blue;
  border-radius: 8px;
}
