@use "sass:math";

$baseFontSize: 16px;

$color-white: #fff;
$color-gray: #9fa0a5;
$color-gray2: #979797;
$color-blue: #54c9f9;
$color-blue2: #3a424c;
$color-blue3: #4e555e;
$color-tempBackground: #5c6561;
$color-tempBarDay: #f1961c;
$color-tempBarNight: #6b87bc;

@function toRem($value) {
  @return math.div(strip-units($value), strip-units($baseFontSize)) + rem;
}

@function strip-units($value) {
  @return math.div($value, ($value * 0 + 1));
}
