@import '../../styles/vars';

.wrapper {
  padding-bottom: 8vh;
  background: $color-tempBackground;
}

.tempDay {
  margin-right: toRem(16);
}

.tempNight {
  font-weight: lighter;
}

.tempCurrent {
  margin-bottom: toRem(38);
  font-size: toRem(72);
}

.city {
  margin-bottom: toRem(6);
  font-size: toRem(29);
  font-weight: normal;
}

.weather {
  font-size: toRem(16);
  font-weight: normal;
}
