@import '../../styles/vars';

.nav {
  position: relative;
  padding: 1rem;

  > * {
    z-index: 1;
  }
}

.labels {
  position: absolute;
  inset: 0;
  z-index: 0;
  text-align: center;

  > * {
    font-size: 1rem;
  }
}

.city {
  color: $color-gray;
}
