@import '../../styles/vars';

.nav {
  position: relative;
  padding: toRem(12) toRem(12) toRem(16);
  height: toRem(50);

  > * {
    z-index: 1;
  }
}

.labels {
  position: absolute;
  inset: 0;
  z-index: 0;
  text-align: center;

  > * {
    font-size: 1rem;
    font-weight: lighter;
  }
}

.city {
  color: $color-gray;
}

.doneLink {
  font-size: toRem(18);
  color: $color-blue;
}
