@import '../../styles/vars';

.itemsWrapper {
  background: $color-tempBackground;
}

.item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.itemDay {
  font-size: 1rem;
  margin: 1rem 0 0.5rem;
}

.itemTemperatures {
  margin-bottom: 1rem;
}

.itemTempDay {
  font-weight: bold;
  margin-right: 0.5rem;
}

.itemTempNight {
  font-weight: normal;
}

.itemBarsWrapper {
  position: relative;
  height: 7vh;
}

.itemBarDay,
.itemBarNight {
  width: calc(50% - 0.5px);
  position: absolute;
}

.itemBarDay {
  left: 0;
  background: $color-tempBarDay;
}

.itemBarNight {
  right: 0;
  background: $color-tempBarNight;
}

.itemBarZeroLine {
  position: absolute;
  height: 1px;
  background: $color-blue2;
  left: 0;
  right: 0;
  z-index: 1;
}
